.city-features {
  position: relative;
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @media (min-width: @tablet-width) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 586px 256px 256px;
    }
  }
  &__point {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    height: 100%;
    padding-bottom: 30px;
    text-transform: uppercase;
    padding-top: 39px;
    @media (min-width: @tablet-width) {
      padding: 0 32px;
    }
    @media (min-width: @desktop-width) {
      padding: 0 62px;
    }

    &-title {
      font-size: 18px;
      line-height: 26px;
    }
    &-number {
      font-size: 14px;
      line-height: 18px;
    }
    &-text {
      font-size: 14px;
      line-height: 18px;

    }
  }
  &__item {
    text-align: center;
    color: @white;
    position: relative;
    background-color: @blue;
    @media (min-width: @tablet-width) {
      border: none;
      min-height: 256px;
    }
    @media (max-width: @mobile-width-only) {
      &:first-child {
        background-image:  url("../../img/icon/intro-triangle-bottom.svg");
        background-repeat: no-repeat;
        background-size: 768px 37px;
        background-position-x: 50%;
      }
    }
    &:nth-child(n+3) {
      background-color: @lightgrey;
      color: @black;
      border-bottom: 1px solid #D6D6D6;
      box-sizing: border-box;

    }
    &-img {
      height: 260px;
      width: 100%;
      object-fit: cover;

    }
    @media (min-width: @tablet-width) {
      &:nth-child(1) {
        grid-column-start: 1;
        grid-column-end: -1;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 256px 330px;
      }
      &:nth-child(2) {
        grid-column-start: 1;
        grid-column-end: -1;
        display: grid;
        grid-template-columns: 2fr 1fr;
        & .city-features__item-img {
          order: -2;
        }
      }
    }
  }
}
