.features-advantage {
  background-color: @white;
  color: @black;
  text-align: left;
  //margin: 0;
  grid-column-start: 1;
  grid-column-end: -1;
  padding-top: 30px;

  &__list {
    list-style: none;
    padding: 0;
    @media (min-width: @tablet-width) {
      //padding: 0;
      display: grid;
      //grid-column-start: 1;
      //grid-column-end: -1;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  &__item {
    position: relative;
    padding-right: 20px;
    padding-bottom: 25px;
    padding-left: 69px;
    text-transform: uppercase;
    &:last-child {
      padding-bottom: 35px;
    }
    &:before {
      position: absolute;
      content: "";
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      left: 10px;
      top: -5px;
      width: 45px;
      height: 55px;
    }
    &:nth-child(1):before {
      background-image: url("../../img/icon/icon-house.svg");
    }
    &:nth-child(2):before {
      background-image: url("../../img/icon/icon-burger.svg");
    }
    &:nth-child(3):before {
      background-image: url("../../img/icon/icon-gift.svg");
    }
    @media (min-width: @tablet-width) {
      padding-top: 158px;
      padding-left: 32px;
      padding-right: 32px;
      text-align: center;

      &:before {
        left: calc(50% - 40px);
        top: 20px;
        width: 80px;
        height: 100px;
      }
    }
  }
  &__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
  }
  &__text {
    margin: 0;
    padding-top: 14px;
    font-size: 14px;
    line-height: 22px;
  }
}
