.header {
  position: relative;
  &__container {
    position: relative;
    height:56px;
  }
  &__logo {
    position: absolute;
    left: 50%;
    order: 2;
    transform: translateX(-50%);
    @media (min-width: @tablet-width) {
      top: 0;
    }
  }
  &__bottom--toggle {
    padding-top: 17px;
    position: absolute;
    right: 20px;
    //top: 17px;
    cursor: pointer;
    border: none;
    &:hover {
      opacity: 0.6;
    }
    &:active {
      opacity: 0.3;
    }


    @media (min-width: @tablet-width) {
      display: none;
    }
  }
}
