.intro {
  background-image:
    url("../../img/icon/intro-triangle.svg"),
    url("../../img/jpg/intro-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 100%;
  background-size: 1200px 57px, cover;
  text-align: center;
  padding: 50px 0 63px;

  &__container {
    height: min-content;
    width: 229px;
  }
  &--index {
    padding: 90px 0 55px;
  }
}
