.page-title {
  text-align: center;
  text-transform: uppercase;
  &__title {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    padding: 17px 20px;
    &--search {
      font-size: 21px;
      padding-bottom: 0;
    }
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
    padding: 0 30px;
    &--search {
      line-height: 22px;
      padding-bottom: 0;
    }
  }
  &__button {
    position: relative;
    background-color: @blue;
    color: @white;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 49px;
    min-height: 58px;
    &--text {
      font-weight: 700;
      font-size: 21px;
      line-height: 26px;
    }
  }
  //&--mobil-index {
  //  background-image:  url("../../img/icon/intro-triangle-bottom.svg");
  //  background-position: center;
  //  background-repeat: no-repeat;
  //  background-position-x: 50%;
  //  background-position-y: 130%;
  //  z-index: 2;
  //  background-size: 768px 37px, cover;
  //}
}
